<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
     
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'doctor_list' %}">Doctors</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    
    <footer>
        <p> 2024 My Website</p>
    </footer>
</body>
</html>
